.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7043;
    padding: 10px;
    color: #333;
}
.navbar img{
    margin-left: 40px;
    height: 60px;
    width: auto;
}
.navbar ul{
    margin-right: 30px;
    display: flex;
    list-style: none;
    gap: 90px;
}
.navbar li{
    font-size: 20px;
}
.navbar li a{
    text-decoration: none;
    color: #333;
}
.user-profile a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-icon{
    font-size: 15px;
    line-height: 1;
}
.user-name{
    font-size: 13px;
    margin-top: 4px;
    line-height: 1;
}